<ion-view view-title="Restaurante">
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-divider">Menu</div>
      <div class="item item-body">
        <div>
       <p> ¡Bienvenidos! </p>
       
       
          <p align="center">
           Bebidas
           
           Jugo de naranja.......$15.00 c/u
           Agua natural..........$10.00 c/u
           Agua mineral..........$15.00 c/u
           Refresco..............$15.00 c/u
           Licuados..............$15.00 c/u
           Jugo de toronja.......$15.00 c/u
           Te helado.............$15.00 c/u
           
          </p>
      
        </div>
      </div>
    </div>
  
  </ion-content>
</ion-view>
