<ion-view view-title="Restaurante">
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-divider">Menu</div>
      <div class="item item-body">
        <div>
       <p> ¡Bienvenidos! </p>
       
       <p align="center">
           
           Desayunos
           
           Hotcakes.........$20.00 c/u
           Pan frances......$10.00 c/u
           Yogurth..........$10.00 c/u
           Cocktail/fruta...$15.00 c/u
           Huevos/estrel....$15.00 c/u
           Chilaquiles......$25.00 c/u
           Huevos/rev.......$15.00 c/u
          
       </p>
        </div>
      </div>
    </div>
  
  </ion-content>
</ion-view>