<ion-view view-title="Restaurante">
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-divider">Menu</div>
      <div class="item item-body">
        <div>
       <p> ¡Bienvenidos! </p>
       
       <pre>
           
           <P ALIGN=center>
           
           Bebidas <br>
           
           Jugo de naranja...$15.00 c/u <br>
           Agua natural......$10.00 c/u <br>
           Agua mineral......$15.00 c/u <br>
           Refresco..........$15.00 c/u <br>
           Licuados..........$15.00 c/u <br>
           Jugo de toronja...$15.00 c/u <br>
           Te helado.........$15.00 c/u <br>
          
       </pre>
        </div>
      </div>
    </div>
  
  </ion-content>
</ion-view>
