<ion-view view-title="Restaurante">
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-divider">Menu</div>
      <div class="item item-body">
        <div>
       <p> ¡Bienvenidos! </p>
       
       <pre>
           
           Postres
           
           Pastel/choco....$15.00 c/u
           Pay de queso....$15.00 c/u
           Pay de piña.....$15.00 c/u
           Crepa dulce.....$15.00 c/u
           Chocoflan.......$15.00 c/u
           Gelatina........$15.00 c/u
          
          
       </pre>
        </div>
      </div>
    </div>
  
  </ion-content>
</ion-view>

