<ion-view view-title="Restaurante">
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-divider">Menu</div>
      <div class="item item-body">
        <div>
       <p> ¡Bienvenidos! </p>
       
       <p align="center">
          
          
           Postres <br>
           
           Pastel/choco....$15.00 c/u <br>
           Pay de queso....$15.00 c/u <br>
           Pay de piña.....$15.00 c/u <br>
           Crepa dulce.....$15.00 c/u <br>
           Chocoflan.......$15.00 c/u <br>
           Gelatina........$15.00 c/u <br>
          
          </p>
      
        </div>
      </div>
    </div>
  
  </ion-content>
</ion-view>

